<Context>
    <Resource name="jdbc/rentaltool" auth="Container" type="javax.sql.DataSource"
              maxActive="50" maxIdle="30" maxWait="10000"
              email="tooluser" password="tool"
              driverClassName="com.mysql.jdbc.Driver"
              url="jdbc:mysql://localhost:3306/rentaltool"
    />
</Context>